<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<link rel="stylesheet" href="../static/style.css">
		<title>About me</title>
  </head>
	
	<body>

		<div class="bodies">
			<h2>About me</h2>
      About me lol
		</div>
	
    
		<div class="pagination">
			<a href="index.html">&laquo;</a>
			<a href="index.html">Home</a>
			<a class="active" href="about_me.html">About Me</a>
			<a href="projects.html">Projects</a>
			<a href="awards.html">Awards</a>
			<a href="contact.html">Contact</a>
			<a href="projects.html">&raquo;</a>
		</div>
    
	</body>
</html>
