<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<link rel="stylesheet" href="../static/style.css">
		<title>Awards</title>
  </head>
	
	<body>

    <div class="bodies">
			<h2>Awards</h2>
      My awards lol
		</div>
	
    
		<div class="pagination">
			<a href="projects.html">&laquo;</a>
			<a href="index.html">Home</a>
			<a href="about_me.html">About Me</a>
			<a href="projects.html">Projects</a>
			<a class="active"  href="awards.html">Awards</a>
			<a href="contact.html">Contact</a>
			<a href="contact.html">&raquo;</a>
		</div>

	</body>		
</html>
