<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<link rel="stylesheet" href="../static/style.css">
		<title>Contact</title>
  </head>
	
	<body>

		<div class="bodies">
			<h2>Contact</h2>
      Contact me lol
		</div>
	
		<div class="pagination">
			<a href="awards.html">&laquo;</a>
			<a href="index.html">Home</a>
			<a href="about_me.html">About Me</a>
			<a href="projects.html">Projects</a>
			<a href="awards.html">Awards</a>
			<a class="active" href="contact.html">Contact</a>
			<a href="index.html">&raquo;</a>
		</div>

	</body>			
</html>
