<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<link rel="stylesheet" href="../static/style.css">
		<title>Projects</title>
  </head>
	
	<body>

    <div class="bodies">
			<h2>Projects</h2>
      My projects lol
		</div>
	
    
		<div class="pagination">
			<a href="about_me.html">&laquo;</a>
			<a href="index.html">Home</a>
			<a href="about_me.html">About Me</a>
			<a class="active" href="projects.html">Projects</a>
			<a href="awards.html">Awards</a>
			<a href="contact.html">Contact</a>
			<a href="awards.html">&raquo;</a>
		</div>
    
	</body>
</html>
